@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
/* ! base css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body{
    height: 100vh;
    width: 100vw;
    margin: 0;

}
/* ! base css end */

.navbar{
    background-color: black;
    height: 60px;
    color: white;
    width: 100vw;
    position: fixed;
    top: 0;
}
.sidebar{
    width: 50px;
    background-color: black;
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    
}
.menu-list{
    display: flex;
    list-style: none;
    column-gap: 30px;
}
.logo h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    color: rgb(255, 70, 70);
    font-family: sans-serif;
}
.menu-list li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 1px;
}
.menu-list .active,
.menu-list li a:hover{
    font-weight: bolder;
}
.profile-foto{
    width: 35px;
    height: 35px;
    image-rendering: -webkit-optimize;
    border-radius: 50px;
}
.profile-container{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.toggle-icon{
    color: goldenrod;
}

.toggle{
    width: 40px;
    height: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
}

.profile-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
     line-height: 1;

}

