@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
/* ! base css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body{
    width: 100vw;
    margin: 0;
}
.container{
    background-color: black;
    color: white;
}
/* ! base css end */

.navbar{
    background-color: black;
    height: 60px;
    color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    
}
.menu-list{
    display: flex;
    list-style: none;
    column-gap: 30px;
}
.logo h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    color: rgb(255, 70, 70);
    font-family: sans-serif;
}
.menu-list li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 1px;
}
.menu-list .active,
.menu-list li a:hover{
    font-weight: bolder;
}
.profile-foto{
    width: 35px;
    height: 35px;
    image-rendering: -webkit-optimize;
    border-radius: 50px;
}
.profile-container{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.toggle-icon{
    color: goldenrod;
}

.toggle{
    width: 40px;
    height: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
}

.profile-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    line-height: 1;
}
/* sidebar starts */
.sidebar{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    align-items: center;
    padding-top: 60px;
    height: 100%;
    color: white;
    background-color: black;
    position: fixed;
    width: 50px;
}

.sidebar i{
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.sidebar i:hover{
    font-size: 30px;
}
/* sidebar ends */
/* main section starts */

.content-wrapper{
    margin-left: 50px;
    margin-top: 50px;
}

.featured-content{
    padding: 50px;
    background: url(./img/spiderman.jpg);
    background-size: 100% 100%;
    height: calc(100vh-160px);
}
.featured-title{
    width: 400px;
}
.featured-desc{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 30px 0;
    color: black;
    text-align: justify;
}
.featured-buttons{
    display: flex;
    column-gap: 20px;
}

.featured-buttons button{
    padding: 10px 25px;
    display: flex;
    column-gap: 10px;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}
.featured-buttons .info-btn{
    color: white;
    background: rgb(255, 255, 255,0.2);
}


/* main section ends */

/* filter start */
.movie-list-filter{
    margin: 20px 0 20px 50px;
    padding: 20px;
}
.movie-list-filter select{
    background-color: black;
    color: white;
    padding: 7px;
    width: 125px;
    text-transform: capitalize;
}

/* filter end */
/* movie list container starts */
.movie-list-container{
    margin-left: 70px;
}
.movie-list-title{
    text-transform: capitalize;
    padding: 20px;
}
.movie-list{
    list-style: none;
    display: flex;
    column-gap: 20px;
}

.movie-item{
    position: relative;
}

.movie-item-title{
    background-color: rgba(40, 40, 40, 0.5);
    text-transform: capitalize;
    font-size: 28px;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: ease-in-out 0.6s;
}

.movie-item-buttons{
    background-color: rgba(40, 40, 40, 0.5);
    position: absolute;
    bottom: 10%;
    padding: 10px;
    left: 50px;
    display: flex;
    column-gap: 20px;
    transition: ease-in-out 0.6s;
    opacity: 0;
  
}
.movie-item-buttons i{
    cursor: pointer;
    font-size: 20px;
    transition: ease-in 0.5s;
}


.movie-item-buttons i:hover{
    font-size: 25px;
}
.movie-item-img{
    width: 270px;
    height: 200px;
    object-fit: cover;  
    transition: 1s all ease-in-out; 
}
.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons{
    opacity: 1;
}

.movie-item:hover .movie-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-wrapper{
    overflow: hidden;
    position: relative;
}





.bi-chevron-right{
    font-size: 180px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 80px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.bi-chevron-right:hover{
    opacity: 0.9;
}

/* movie list container ends */
